<environment names="Development">
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <script src="~/js/site.js"></script>
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" type="text/css" href="~/css/site.min.css" />
    <script src="~/js/site.min.js"></script>
</environment>

@*Favicon*@
<link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.ico" />

@RenderSection("Styles", false)

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body id="LayoutBody">
    <div id="TopNavBar">
        @RenderSection("TopNavBar", true)
    </div>
    <div id="SideNavBar">
        @RenderSection("SideNavBar", true)
    </div>

    @RenderBody()

    <footer>
        <div class="container-fluid">
            <div class="text-center">
                <p class="media-heading">&copy; OwnApt, LLC | All Rights Reserved</p>
                <i class="fa fa-facebook-official fa-2x"></i>&nbsp;<a href="https://www.facebook.com/ownapt" target="_blank">Follow us on Facebook</a>
            </div>
        </div>
    </footer>
</body>
</html>

@RenderSection("Scripts", false)