<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @*Favicon*@
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.ico" />

    @*Material Design Lite*@
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/lib/material-design-lite/material.min.css">
    <script defer src="~/lib/material-design-lite/material.min.js"></script>

    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/styles/Shared/_layout.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>


    @RenderSection("Styles", false)
</head>

<body id="Body">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title"><img src="~/images/Logo/Logo_50x48.png" /> OwnApt</span>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation">
                    @RenderSection("HeaderLinks", true)
                </nav>
            </div>
            @if (!Convert.ToBoolean(User.Claims.FirstOrDefault(c => c.Type == "email_verified").Value))
            {
                <div class="mdl-layout__header-row">
                    <span>Pease Verify Your Email Address</span>
                </div>
            }
        </header>
        <div class="mdl-layout__drawer">
            <nav class="mdl-navigation">
                <h5>Pages</h5>
                @RenderSection("DrawerLinks", true)
            </nav>
        </div>
        <main class="mdl-layout__content">
            @RenderBody()
            <div class="mdl-layout-spacer"></div>
        </main>
    </div>

</body>
</html>

@RenderSection("Scripts", false)