<environment names="Development">
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <script src="~/js/site.js"></script>
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" type="text/css" href="~/css/site.min.css" />
    <script src="~/js/site.min.js"></script>
</environment>

@RenderSection("Styles", false)

<html lang="en">
<head>

</head>

<body>
    <div id="TopNavBar">
        @RenderSection("TopNavBar", true)
    </div>
    <div id="SideNavBar">
        @RenderSection("SideNavBar", true)
    </div>

    @RenderBody()
</body>
</html>

@RenderSection("Footer", false);

@RenderSection("Scripts", false)