<html lang="en">
<head>
    @*Metas*@
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Redefining Property Management">
    <meta name="author" content="OwnApt, LLC">
    <meta name="google-site-verification" content="WIDMq93a78Ej9P77g42vZuNMkfcwSe4njihJLzyhyLU" />

    @*Favicon*@
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.ico" />

    <title>@ViewData["Title"]</title>

    @*Initial Styles/Scripts*@
    <environment names="Development">
        <link href="~/css/site.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="~/css/home.css" type="text/css" />
        <link rel="stylesheet/less" href="~/less/ownapt.less" type="text/css" />

        <script src="~/js/site.js"></script>
        <script src="~/js/home/home.js"></script>
    </environment>

    <environment names="Staging,Production">
        <link href="~/css/site.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="~/css/home.min.css" type="text/css" />
        <link rel="stylesheet/less" href="~/less/ownapt.less" type="text/css" />

        <script src="~/js/site.min.js"></script>
        <script src="~/js/home/home.min.js"></script>
    </environment>

    @*Google Fonts*@
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    @RenderSection("Styles", false)

</head>
<body>
    <div id="fb-root"></div>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @if (Convert.ToBoolean(ViewData["ShowListings"]))
                {
                    <a class="navbar-brand page-scroll" href="@Url.Action("Index", "Home")">OwnApt</a>
                }
                else
                {
                    <a class="navbar-brand page-scroll" href="#page-top">OwnApt</a>
                }

                <div class="fb-like navbar-brand" data-href="https://www.facebook.com/ownapt" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
            </div>

            @if (Convert.ToBoolean(ViewData["ShowListings"]))
            {
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" href="@(Url.Action("Index", "Home") + "#about")">About</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="@(Url.Action("Index", "Home") + "#services")">Services</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="@(Url.Action("Index", "Home") + "#pricing")">Pricing</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="@(Url.Action("Index", "Home") + "#contact")">Contact</a>
                        </li>
                        <li>
                            <a href="http://blog.ownapt.com/" target="_blank">Blog</a>
                        </li>

                        <li>
                            <a href="@Url.Action("Index", "Listings")">Listings</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
                        }
                        else
                        {
                            <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                        }
                    </ul>
                </div>
            }

            else
            {
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" href="#about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#services">Services</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#pricing">Pricing</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>
                        <li>
                            <a href="http://blog.ownapt.com/" target="_blank">Blog</a>
                        </li>

                        <li>
                            <a href="@Url.Action("Index", "Listings")">Listings</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
                        }
                        else
                        {
                            <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                        }
                    </ul>
                </div>
            }
        </div>
    </nav>
    @RenderBody()
    <footer>
        <aside class="bg-dark">
            <div class="container text-center">
                <p><span>&copy; OwnApt, LLC : All Rights Reserved.</span></p>
            </div>
        </aside>
    </footer>
</body>
</html>

@*Post Page Load Scripts*@
<environment names="Development">
    <script src="~/js/home/home.js"></script>
</environment>

<environment names="Staging,Production">
    <script src="~/js/home/home.min.js"></script>
</environment>

@*Facebook Like/Share*@
<script>(function (d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6';fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>

@*Google Analytics*@
<script>(function (i, s, o, g, r, a, m) {i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {(i[r].q = i[r].q || []).push(arguments)}, i[r].l = 1 * new Date(); a = s.createElement(o),m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');ga('create', 'UA-77180345-1', 'auto');ga('send', 'pageview');</script>

@RenderSection("Scripts", false)