@{
    Layout = "_Layout";
    ViewData["Title"] = "OwnApt, LLC - Owner Portal Overview";
    ViewData["MetaDescription"] = "The Owner Portal Overview page is where owners can see the most important information about their properties at a glance.";
}

@section _LayoutStyles{
    @RenderSection("_OwnerLayoutStyles", false)
}

@section _LayoutScripts{
    @RenderSection("_OwnerLayoutScripts", false)
}

@section _LayoutHeaderLinks{
    @*<a class="mdl-navigation__link" href="">Contact</a>*@
    <a class="mdl-navigation__link" href="@Url.Action("Logout", "Account")">Logout</a>
}

@section _LayoutDrawerLinks{
    <a class="mdl-navigation__link" href="@Url.Action("Index", "Owner")"><i class="material-icons">dashboard</i> Overview</a>
    @*<a class="mdl-navigation__link" href=""><img src="~/images/views/owner/Owner_Index_ViewProfileIcon_Active_32x32.png" /> Profile</a>
        <a class="mdl-navigation__link" href=""><img src="~/images/views/owner/Owner_Index_AddHomeIcon_Active_32x32.png" /> Add a Home</a>*@

    @RenderSection("_OwnerLayoutDrawerLinks", false)
}

@RenderBody()