@{
    Layout = "_Layout";
    ViewData["DrawerTitle"] = "Owner Portal";
}

@section _LayoutStyles{
    <environment names="Development">
        <link href="~/content/css/owner/_OwnerLayout.css" rel="stylesheet" type="text/css" />
    </environment>

    <environment names="Staging,Production">
        <link href="~/content-min/css/owner/_OwnerLayout.min.css" rel="stylesheet" type="text/css" />
    </environment>
}
@section _LayoutHeaderLinks{
    @*<a class="mdl-navigation__link" href="">Contact</a>*@
    <a class="mdl-navigation__link" href="@Url.Action("Logout", "Account")">Logout</a>
}

@section _LayoutDrawerLinks{
    <a class="mdl-navigation__link" href="@Url.Action("Index", "Owner")"><i class="material-icons">dashboard</i> Overview</a>
    @*<a class="mdl-navigation__link" href=""><img src="~/images/views/owner/Owner_Index_ViewProfileIcon_Active_32x32.png" /> Profile</a>
        <a class="mdl-navigation__link" href=""><img src="~/images/views/owner/Owner_Index_AddHomeIcon_Active_32x32.png" /> Add a Home</a>*@

    @RenderSection("_OwnerLayoutDrawerLinks", false)
}

@RenderSection("_OwnerLayoutStyles", false)
@RenderSection("_OwnerLayoutScripts", false)

@RenderBody()