@using OwnApt.Common.Enum;
@model OwnApt.DotCom.Model.Owner.OwnerIndexViewModel
@{
    Layout = "_OwnerLayout";
}

<div class="owner-container">
    @foreach (var property in Model.Properties)
    {
        var lease = Model.LeaseTermsByPropertyId[property.Id];
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    @($"{property.Address.Address1} {property.Address.City}, {property.Address.State} {property.Address.Zip.Base}")
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <img class="center-block" src="@property.ImageUri.AbsoluteUri" />

                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-6">
                        <ul class="nav nav-pills nav-justified">
                            <li class="active">
                                <a data-toggle="tab" href="@($"#{property.Id}_overview")">Overview</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="@($"#{property.Id}_lease")">Lease</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="@($"{property.Id}_overview")" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <label>Rooms:</label> @property.Features.Rooms
                                    </div>
                                    <div class="col-xs-4">
                                        <label>Baths:</label> @property.Features.Bathrooms
                                    </div>
                                    <div class="col-xs-4">
                                        <label>Sq Ft:</label> @property.Features.SqFootage
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-2 col-xs-offset-5">
                                        <div class="margin-topbottom center-block">
                                            <label>Amenities</label>
                                        </div>
                                    </div>
                                </div>
                                @foreach (var amenity in property.Features.Amenities)
                                {
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        @amenity.Type
                                    </div>
                                }
                            </div>
                            <div id="@($"{property.Id}_lease")" class="tab-pane fade in" hidden>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <label>Current Period:</label> @($"{lease.CurrentPeriodDate.ToString("MMMM, yyyy")} ({lease.CurrentPeriod.LeasePeriodStatus})")
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <label>Lease Start Date:</label> @lease.StartDate.ToString("MMMM dd, yyyy")
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <label>Lease End Date:</label> @lease.EndDate.ToString("MMMM dd, yyyy")
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <label>Remaining Term:</label> @lease.TermRemaining months
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body text-center @lease.Health">@lease.HealthDescription</div>
        </div>
    }
</div>
