@model OwnApt.DotCom.Model.Owner.OwnerIndexViewModel
@{
    Layout = "_OwnerLayout";
}

<div class="owner-container">
    @foreach (var property in Model.Properties)
    {
        var lease = Model.LeaseTermsByPropertyId[property.Id];
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    @($"{property.Address.Address1} {property.Address.City}, {property.Address.State} {property.Address.Zip.Base}")
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <img class="center-block" src="@property.ImageUri.AbsoluteUri" />

                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-6">
                        <ul class="nav nav-pills nav-justified">
                            <li class="active">
                                <a data-toggle="tab" href="@($"#{property.Id}_overview")">Overview</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="@($"#{property.Id}_lease")">Lease</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="@($"{property.Id}_overview")" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <label>Rooms:</label> @property.Features.Rooms
                                    </div>
                                    <div class="col-xs-4">
                                        <label>Baths:</label> @property.Features.Bathrooms
                                    </div>
                                    <div class="col-xs-4">
                                        <label>Sq Ft:</label> @property.Features.SqFootage
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="center-block">
                                            <label>Amenities</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="@($"{property.Id}_lease")" class="tab-pane fade in" hidden>
                                <p><strong>Current Period:</strong> TODO: Get LEASE PERIOD DATA FOR CURRENT PERIOD</p>
                                <p><strong>Lease Start Date:</strong> @lease.StartDate</p>
                                <p><strong>Lease End Date:</strong> @lease.EndDate</p>
                                <p><strong>Remaining Term:</strong> @(((lease.EndDate.Year - DateTime.Now.Year) * 12) + lease.EndDate.Month - DateTime.Now.Month) months</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="background: green; color: white;" class="panel-body text-center">Very Healthy</div>
        </div>
    }
</div>
